/*navbar, login bottom, search bottom*/
.navbar .navbar-nav .nav-link {
    color: #000000;
    font-size: 1.5em;
    padding-right: 2em;
}

.navbar .navbar-nav .nav-link:hover {
    color: #00C800;
}

.btn-success {
    background-color: #00C800;
}

/*background image*/
.background {
    background-image: url("image/background.jpg");
    background-size: cover;
    height: 250vh;
    width: 100%;
    align-items: center;
    background-position: 100% 50%;
}

/*football field cards*/
h5 {
    font-family: "Dutch801 XBd BT", sans-serif;
    font-size: 25px;
}

.card {
    font-family: "Tahoma", sans-serif;
    margin-bottom: 25px;
}

.image-fluid {
    width: 800px;
    height: 500px;
}

/*social media link*/
.social-links a {
    font-size: 18px;
    display: inline-block;
    background: #3cb371;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s
}



